* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
    font-size: clamp(10px, 3vw, 24px);
}

body.card-container {
    font-family: Raleway, sans-serif;
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-color: #ddd;
    perspective: 50em;
}

header {
    display: flex;
    flex-direction: column;
}



/* menu bootstrap */
.menu-boot {
    position: fixed;
    z-index: 1000;
    margin-top: 5px;
    width: 100%;
    /* display: none; */
}

#collapsibleNavbar li {
    margin: 10px;
}


/* menu */
.menu {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100px;
    height: fit-content;
    background-color: rgba(13, 13, 13, 0.5);
    z-index: 1000;
}


.menu-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    min-height: 100px;
}

.menu-right {
    display: flex;
    justify-content: center;
    width: 100%;
}


.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo {
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* Header */

header {
    width: 100%;
    height: 600px;
    background: #bc4e9c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(340, 3%, 21%, 0.459), hsla(0, 0%, 5%, 0.664)), url(../img/portada.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(0, 0%, 0%, 0.459), hsla(300, 5%, 7%, 0.664)), url(../img/portada.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav {
    text-align: right;
    padding: 30px 50px 0 0;
}

nav>a {
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav>a:hover {
    text-decoration: underline;
}

header .textos-header {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1 {
    font-size: 50px;
    color: #fff;
}

.textos-header h2 {
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}





/* Nosotros */


main .sobre-nosotros {
    padding: 50px 0 100px 0;
    font-family:'Roboto', sans-serif;;
}

.contenedor-sobre-nosotros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img-quienes,
.contenido-textos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 475px;
   
    flex-grow: 1;
}

.contenido-textos h3,
p {
    width: 80%;
}



.imagen-about-us {
    width: 120%;
    height: 95%;
    object-fit: cover;
}


.contenido-textos h3 {
    margin-bottom: 10px;
    text-align: center;
    margin: auto;
}

.contenido-textos h3 span {
    background: #4d0686;
    color: #fff;
    border-radius: 70%;
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 15px;
}

.contenido-textos p {
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/* Galeria */


.portafolio {
    background: #f2f2f2;
}

.galeria-port {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.imagen-port {
    width: 250px;
    max-height: 120px;
    margin: 20px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    flex-grow: 1;

}

.imagen-port>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(273, 91%, 27%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img {
    width: 50px;
}

.hover-galeria p {
    color: #fff;

}

.imagen-port:hover .hover-galeria {
    transform: scale(1);
}

/* Asesoramiento */


.tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    align-items: center;
}

.centered {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.tarjeta {
    width: 400px;
    height: 400px;
    margin: 20px;
    align-content: center;
}

.tarjeta-head {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.tarjeta-head img {
    width: 180px;
    height: 180px;
    border: 2px solid white;
    border-radius: 50%;
    object-fit: cover;

}

.tarjeta-footer {
    display: flex;
    align-items: center;
    height: 200px;
    padding: 20px;
    font-size: clamp(1rem, 1rem, 3rem);
    text-align: justify;
}





/*ubicacion*/

.ubicacion {
    background: #f2f2f2;
    width: 100%;

}

.u-conteiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.div2 {
    width: 400px;
}

.left-card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;

}

.left-card iframe {
    height: 400px;
    width: 100%;
    border: 3px solid white;
}

.right-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    font-size: clamp(1rem, 2rem, 1rem);
}

.right-card dl {
    width: 90%;
    text-align: center;
    font-size: clamp(1rem, 2rem, 2rem);
}


/*ubicacion*/



/*Contacto*/
.contacto {
    width: 100%;
}

.contacto-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
}



/*Contacto*/

.sendmessage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.sendmessage h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
}

.boton {
    padding: 5px;
}


.contactForm {
    background-color: rgb(73, 87, 177, 0.3);
    width: 90%;
    height: fit-content;
    padding: 20px;
    text-align: center;
    font-size: 1rem;
    justify-content: space-around;
    border-radius: 3%;

}

.form-control {
    width: 90%;
    font-size: 1rem;
}

.error-v {
    color: red;
    text-align: start;
}

/*Contacto*/

/*Footer*/
.contenedor-footer {
    background-color: #f2f2f2;
    width: 100%;
    padding: 20px;

}

.cont {
    background-color: #4d0686;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
    color: white;
    padding: 1%;
}

.content-foo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 200px;
    flex-grow: 1;
}

.content-foo h4,
p {
    text-align: center;
}

.titulo-final {
    margin-top: 20px;
    text-align: center;
    font-size: 75%;
    background-color: #f2f2f2;
}

.footer {
    background-color: #f2f2f2;
}

/* icono whatsapp*/

.float-logo {
    position: fixed;
    bottom: 80px;
    right: 10px;
    width: 80px;
    z-index: 1000;
}

.float-logo:hover {
    transform: scale(1.5);
}


/* icono flecha*/

.flecha:hover {
    transform: scale(1.5);
}

.flecha {
    position: fixed;
    bottom: 100px;
    left: 40px;
    width: 100px;
    z-index: 1000;
}

.imagenflecha {
    width: 40px;
    height: auto;
    background-color: white;
    border-radius: 40px;
}

#data {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

#data img {
    width: 15vh;
    margin: 10px;
}

#data img:hover {
    transform: scale(1.3);
    z-index: 1000;
}

/*footer*/


/* Pagina de Productos */

.seccionProductos {
    margin: 20px;
}

.center {
    text-align: center;
}

.buscador {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(40vw, 1fr));
    font-size: clamp(1rem, 1rem, 4rem);
}

.buscador input {
    padding: 15px;
    border-radius: 20px;
    width: 100%;
}

.buscador button {
    padding: 15px;
    margin-left: 5px;
    border-radius: 25px;
    background-color: greenyellow;
}

.product-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
}

.product-card {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.495);
    flex-basis: 250px;
}


.product-card img {
    width: 100%;
    object-fit: cover;
}


.card-header {
    height: 15%;
    display: flex;
    align-items: center;
}


.card-img {
    width: 80%;
}

.card-footer {
    display: flex;
    align-items: center;
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-footer h5 {
    font-size: clamp(1rem, 0.5rem, 0.1rem);
}