body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}


.seccionProductos {
    max-width: 90vw;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    color: #333;
}

.buscador {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
}

.buscador input {
    flex: 1;
    padding: 8px;
    width: 40vw;
}

.botonesADM button {
    color: #fff;
    background-color: #3498db!important;
  
}

.botonesADM button a {
    text-decoration: none; /* Elimina el subrayado */
    color: white; /* Cambia el color del texto */
}

.uActivo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.table-responsive {
    width: 80vw;
    border-collapse: collapse;
    margin-top: 20px;
}

.filat {
    background-color: #3498db;
    color: #fff;
}

.tbheader, .tbcolumn {
    padding: 10px;
    text-align: left;
}

.tbcolumn img {
    max-width: 100%;
    height: auto;
}

.btnEditar{
    background-color: #34c8db;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.btnEliminar {
    background-color: #db3442;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}





.btnEditar:hover{
    background-color: #0897e4;
    color: white;
}

.btnEliminar:hover {
    background-color: #fc3306;
    color: white;
}


/* Carrito de Compras */

.carritofooter{
text-align: center;
}

.totalfooter{
background-color: aliceblue;
}