<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrar Productos</title>
    <link rel="stylesheet" href="./css/estilos.css">
    <link rel="stylesheet" href="./css/productosAdmin.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body class="body">
    <header class="encabezado">
        <!-- Encabezado de todas las Paginas script -->
    </header>
    <main>
        <section class="seccionProductos">
            <div>
                <h1>Productos para tu Empresa</h1>
            </div> <br> <br>
            <section id="app">
                <div class="buscador">
                    <div class="uActivo">
                        <h6>Usuario Activo</h6>
                        <h4>{{uActivo}}</h4>
                    </div>
                    <div>
                        <input type="text" v-model="buscar" placeholder="nombre del producto"
                            v-on:input="productosFiltrados">
                    </div>
                    <div class="botonesADM">
                        <button v-on:click="limpiar">Limpiar Busqueda</button>
                        <button><a href="./AgregarProducto.html">Agregar Producto</a></button>
                        <button onclick="cerrarAdmin()">Cerrar sesion</button>
                    </div>
                    
                </div>
                <table class="table-responsive">
                    <tr class="filat">
                        <th class="tbheader">Id</th>
                        <th class="tbheader">Nombre</th>
                        <th class="tbheader">Descripcion</th>
                        <th class="tbheader">Precio</th>
                        <th class="tbheader">Stock</th>
                        <th class="tbheader">Imagen</th>
                        <th class="tbheader"></th>
                        <th class="tbheader"></th>
                    </tr>

                    <tr v-for="item in filtrados" :key="item.id">
                        <td class="tbcolumn">{{item.id}}</td>
                        <td class="tbcolumn">{{item.nombre}}</td>
                        <td class="tbcolumn">{{item.descripcion}}</td>
                        <td class="tbcolumn">{{item.precio}}</td>
                        <td class="tbcolumn">{{item.stock}}</td>
                        <td class="tbcolumn"><img :src="item.imagen" alt="Imagen del producto" width="80"></td>


                        <td class="tbcolumn">
                            <button @click="" class="btnEditar"><a :href="'EditarProducto.html?id='+ item.id" class="btnEditar">Editar</a></button>
                        </td>
                        <td class="tbcolumn">
                            <button @click="eliminar(item.id)" class="btnEliminar">Eliminar</button>
                        </td>
                    </tr>
                </table>
                <br>
                <br>

                 
                </div>
                <h2>Productos Encontrados: {{filtrados.length}}</h2>
                </div>

            </section>
        </section>

    </main>
    <footer class="pie-de-pagina">
        <!-- Pie de pagina de todas las Paginas script -->
    </footer>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/productos.js"></script>
    <script src="./js/index.js"></script>
</body>

</html>